Binaries
Derived
DataCache
Intermediate
Saved
*.sdf
*.sln
*.suo
Build
*.log

*.suo
Pack/WindowsNoEditor/Manifest_NonUFSFiles.txt
Pack/WindowsNoEditor/SeaFoodSim48/Content/Paks/SeaFoodSim48-WindowsNoEditor.pak
Pack/WindowsNoEditor2/Engine.zip
Pack/WindowsNoEditor2/Manifest_NonUFSFiles.txt
Pack/WindowsNoEditor2/SeaFoodSim48/Content/Paks/SeaFoodSim48-WindowsNoEditor.pak

DerivedDataCache/
